h1 , h2, h3, span {
	margin: 0;
}

h1 {
	font-size: 16rem;
}

h2 {
	font-size: 3rem;
	text-align: left;
}

h3 {
	font-size: 1.4rem;
}

span {
	font-size: 6rem;
	font-weight: 600;
}
#weather-header{
	text-align: center;
}

.weather-container {
	/* max-width: 550px; */
	height: 250px;
	border: 1px solid black;
	border-radius: 20px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-rows: 20% 80%;
	padding: 25px 5px;
	/* flex-direction: column; */
}
.weather-container > div{
	height: 100px;
}

.degrees {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	margin-left: 2rem;
}

img {
	width: 80px;
	filter: grayscale(100%);
}
#button {
	border-radius: 20px;
	background-color: blue;
	border-color: black;
	color: blanchedalmond;
}
.card {
	float: left;
	background-color: blue;
	border-color: black;
	border-radius: 20px;
}
.card-body{
	background-color: rgb(50, 50, 240);
	border-radius: 20px;
}
#city{
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#temp{
	text-align: left;
}
#wind{
	text-align: left;
	/* height: 200px; */
}
#humidity{
	text-align: left;
}
.col{
	background-color: dimgray;
}
.tempOne{
	color: floralwhite;
}